*{
	margin: 0 auto;
	color: white;
	font-family: "Arial"
}

body{
	background-color: black;
	height: 650px;
}

#gameWrapper{
	margin: 2%;
	height: 100%;
}

#engineInterface{
	height: 54px;
	width: 100%;
	margin-bottom: 2%;
}

.menuItem{
	height: 50px;
	border: solid 2px grey;
	border-radius: 6px;
	float: left;
	margin-right: 10px;
}

#menuHamburger{
	width: 50px;
}

#extras p{
	margin: 8% 10%;
	font-size: 20pt;
}

#extras:hover{
	background-color: grey;

}

#menu{
	border-radius: 6px;
	position: fixed;
	top: 80px;
	left: 2%;
	overflow: hidden;
	border-width: 1px;
	display: none;
}

#menu li {
    font-size: 16pt;
    width: 100px;
    padding: 5px;
    border-radius: 4px;
}

#menu li:hover {
	background-color: grey;
}

#interfaceWrapper, #illustrationWrapper{
	height: 100%;
	display: block;
}

#interfaceWrapper{
	width: 66%;
	float: left;
}

#interface{}

#dialogOptions{
	light
}

#dialogOptions li {
	margin: 15px 0px 0px 0px;
	font-size: 18pt;
	width: 40%;
	padding: 4px 0px 0px 10px;
	border-radius: 5px;
}
#dialogOptions li:hover{
	background-color: grey;
	cursor: pointer;
}

.option.disabled{
	display: none;
}

#illustrationWrapper{
	width: 33%;
	float: right;
}

.achievementWrapper, .itemWrapper{
    height: 110px;
    width: 110px;
    display: inline-block;
}

.achievementWrapper img, .itemWrapper img{
    height: 100px;
    width: 100px;
    margin: 5px;
}

.achievementWrapper img{filter: grayscale(100%);}

.achievementWrapper img.earned {
	filter: grayscale(0%);
}

/* menu svg animate*/

@keyframes hmbrgr1open {
    from {transform: rotate(0deg) translate(0px, 0px)}
    to {transform: rotate(45deg) translate(0px, 12px)}
}

@keyframes hmbrgr2open {
    from {transform: scale(1)}
    to {transform: scale(0)}
}

@keyframes hmbrgr3open {
    from {transform: rotate(0deg) translate(0px, 0px)}
    to {transform: rotate(-45deg) translate(0px, -12px)}
}

@keyframes hmbrgr1close {
    from {transform: rotate(45deg) translate(0px, 12px)}
    to {transform: rotate(0deg) translate(0px, 0px)}
}

@keyframes hmbrgr2close {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@keyframes hmbrgr3close {
    from {transform: rotate(-45deg) translate(0px, -12px)}
    to {transform: rotate(0deg) translate(0px, 0px)}
}

.close .hmbrgr1 {
  transform-origin: 50%;
  transform: rotate(0deg) translate(0px, 0px);
  animation-name: hmbrgr1close;
  animation-duration: 1s;
}
.close .hmbrgr3 {
  transform-origin: 50%;
  transform: rotate(0deg) translate(0px, 0px);
  animation-name: hmbrgr3close;
  animation-duration: 1s;
}
.close .hmbrgr2 {
  transform-origin: 50%;
  transform: scale(1);
  animation-name: hmbrgr2close;
  animation-duration: 1s;
}

.open .hmbrgr1 {
  transform-origin: 50%;
  transform: rotate(45deg) translate(0px, 12px);
  animation-name: hmbrgr1open;
  animation-duration: 1s;
}
.open .hmbrgr3 {
  transform-origin: 50%;
  transform: rotate(-45deg) translate(0px, -12px);
  animation-name: hmbrgr3open;
  animation-duration: 1s;
}
.open .hmbrgr2 {
  transform-origin: 50%;
  transform: scale(0);
  animation-name: hmbrgr2open;
  animation-duration: 1s;
}



/* dev mode CSS */

.dev #interfaceWrapper{
	background-color: red;
}

.dev #illustrationWrapper{
	background-color: blue;
}